absl-py
altair
argon2-cffi
astor
astunparse
attrs
backcall
base58
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
clang
click
colorama
debugpy
decorator
defusedxml
entrypoints
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
keras
Keras-Preprocessing
Markdown
MarkupSafe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
numpy
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim==0.1.0.post0
pyzmq
requests
requests-oauthlib
rsa
Send2Trash
six
smmap
streamlit
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
toml
toolz
tornado
traitlets
typing-extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
wrapt